.git
.gitignore
.vscode
.idea
tests/
*.md
*.log
.env
.env.local
__pycache__
*.pyc
.coverage
htmlcov/
.tox/
.pytest_cache/
Dockerfile
docker-compose*.yml
.github/
*.egg-info/
Charts
tests
*/node_modules

# agents
.kilo
.calude
.gemini
